<header class="font-kode-mono">
    <div class="logo-container">
        <img class="logo-img" src="{{ '/assets/img/mehlogo.png' | relative_url }}" alt="Logo" width="64" height="64">
        <h1 class="logo-text">Unremarkable Games</h1>
    </div>
    <hr style="margin-bottom: 0"/>
    <div class="nav-container">
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Games</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/devlog' | relative_url }}">Devlog</a></li>
            </ul>
        </nav>
    </div>
    <hr style="margin-top: 0"/>
</header>
