<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/mehlogo.png" width="48" height="48" alt="Logo">
            <span class="logo-text">Unremarkable Games</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/games">Games</a></li>
                <li class="nav-item"><a class="nav-link" href="/notes">Notes</a></li>
                <li class="nav-item"><a class="nav-link" href="/follow">Follow</a></li>
                <li class="nav-item"><a class="nav-link" href="/crew">Crew</a></li>
                <li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<hr class="mt-0 mb-4" />
