<section class="signup-panel" aria-labelledby="signup-title">
    <div class="signup-copy">
        <p class="eyebrow mb-2">Occasional dispatches</p>
        <h2 id="signup-title">Stay in the loop.</h2>
        <p class="mb-0">Occasional emails from me about new games, work in progress, and whatever else comes up along the way.</p>
    </div>
    <div id="mc_embed_signup">
        <form action="https://unremarkablegames.us1.list-manage.com/subscribe/post?u=67895038db1b8e2b60f9ed1d5&amp;id=76b2bc8342&amp;f_id=00f772e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup-form" target="_blank">
            <label for="mce-EMAIL">Email address</label>
            <div class="signup-row">
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="email" required>
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Count me in">
            </div>
            <div id="mce-responses">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div aria-hidden="true" class="signup-honeypot">
                <input type="text" name="b_67895038db1b8e2b60f9ed1d5_76b2bc8342" tabindex="-1" value="">
            </div>
        </form>
    </div>
</section>
<script src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($) {window.fnames = []; window.ftypes = []; fnames[0] = 'EMAIL'; ftypes[0] = 'email';}(jQuery)); var $mcj = jQuery.noConflict(true);</script>
