body {
    background: #080808;
    color: #ccc;
}

header {
    padding-inline: 1em;
}

main {
    padding-inline: 3em;
}

.nav-container {

}

.nav {

}

.nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.nav-item {
    padding-inline: 3em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: bolder;
}

.nav-item:hover {
    background: #222222;
}

.nav-link {
    text-decoration: none;
    color: #ccc;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-top: 1em;
}

.logo-img {
    padding-right: 0.5em;
}

.logo-text {
    margin: 0;
    font-weight: bolder;
    font-size: 48px;
}


.font-kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.content {
    max-width: 64em; 
    min-width: 64em; 
    margin: auto; 
    background: #121212;
}

hr {
    border: none;
    height: 6px;
    background-color: #333
}

.footer-text {
    margin-inline: 4em;
    font-size: x-small;
    color: #555;
}

a {
    color: #bbf;
}